# markdown
## markdown
#### markdown
#### markdown

***mark***

####markdown

***mark***
**mark**

![mark](https://images.unsplash.com/photo-1499084732479-de2c02d45fcc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80)

[1](https://www.google.com/)

In [7]:
print("hello")
print("hii")

hello
hii

In [8]:
print("hello",end=",,,")
print("hii")

hello,,,hii

In [14]:
a = 10
a, b, c == 1
a, b, c = 1, 2, 3

TypeError: cannot unpack non-iterable int object

In [13]:
a = "python"
b = "p"
type(a)
c = 10
type(c)

int

In [15]:
a =10
b=20
c =30
print(a)
print(b)
print(c)

10
20
30

In [16]:
a = "python"
b = "p"
type(a)

str

In [19]:
a = 10
b = 11
print(id(a))
id(b)

1426114864

1426114880

In [18]:
a = 10, 3
print(type(a))
id(a)

<class 'tuple'>

62915488

In [20]:
a=b=30

In [21]:
a

30

In [22]:
b

30

In [23]:
name="akhil"
age="20"
print("my name is", name , "age is", age)

my name is akhil age is 20

In [26]:
a=input("enter a string")
type(a)

enter a stringakhi

str

In [27]:
c= int(input("enter the number"))
type(c)

enter the number43

int

In [28]:
d=float(input('enter a number'))
type(d)

enter a number123

float

In [30]:
a=int(input("enter a number"))
b=int(input("enter a number"))
c=a+b
print(c)

enter a number1
enter a number2
3

In [31]:
a=float(input("enter a number"))
b=float(input("enter a number"))        #float
c=a+b
print(c)

enter a number2.345
enter a number5.677
8.022

In [32]:
x = 10
print(x)
type(x)

10

int

In [33]:
y = 1,2 
print(y)
type(y)

(1, 2)

tuple

In [34]:
z=2+5j        #complex
print(z)
type(z)

(2+5j)

complex

In [38]:
x=float(12)
print(x)

12.0

In [39]:
c=1+3j
d=7+9j
print(c+d)
print(c-d)
print(c*d)

(8+12j)
(-6-6j)
(-20+30j)

In [41]:
a = True         #boolean
type(a)

bool

In [42]:
b = False
type(b)

bool

In [43]:
a>b

True

In [44]:
a<b

False

In [46]:
a<<b

0

In [48]:
#string
s1= "abc"
s2 = 'abc'
print(s1)
s2

abc

'abc'

In [49]:
type(s1)
type(s2)

str

In [50]:
i = 100
print(type(i))

<class 'int'>

In [51]:
s1 = str(i)       #int to string#
print(s1)
type(s1)

100

str

In [52]:
j = 12.08
print(type(j))

<class 'float'>

In [55]:
s2 = str(j)
print(s2)                #float to string#
type(s2)

12.08

str

In [57]:
a = '1234'             #length of string#
len(a)

4

# OPERATORS

## ***arthematic operations--> +,-,*,**,/,%,//,**
## *Logical --> and , in , not*
## *Relational --> ... <, <=, >, >=*
## *Membership--> in, not in*

In [65]:
# arthematic operation
4%5

4

In [59]:
4/4

1.0

In [60]:
3//4

0

In [61]:
3>=7

False

In [62]:
7>=6

True

In [63]:
# logial operators
x=2
y=9
print(x>=5 and x<10)
print(x>=5 or x<=10)
print(not(x))

False
True
False

In [64]:
#relational operators
x=2
y=9
print(x<y)
print(y<x)
print(x<=y)
print(y>=x)
print(x==y)

True
False
True
True
False

In [67]:
#Membership operator
str1= "abc"
print('a' is str1)
print('a'is not str1)

False
True

# Conditional statements
### if 
### if else 
### elif

# Syntax (if else)
### if condition :
       statement
### else :
       statement

# Syntax (elif)
### if condition :
       statement
### elif : 
      statement
### elif : 
      statement
### else :
       statement

In [71]:
# to check the numbe is +ve or not
a =10
if a>0 :
    print("+ve")

+ve

In [74]:
#if else
a=10
if a>14:
        print("+ve")
else :
        print("not")

not

In [75]:
#elif
a=0
if a>0:
    print("+ve")
elif a<0:
    print("-ve")
else:
    print("0")

0

In [78]:
#elif
a=int(input("enter a number"))
if a>0:
    print("+ve")
elif a<0:
    print("-ve")
else:
    print("0")

enter a number67
+ve

In [77]:
a=-9
if a>0:
    print("+ve")
elif a<0:
    print("-ve")
else:
    print("0")

-ve